.menu {
    -fx-padding: 8px;
}

.menuButton {
    -fx-max-width: 1000px;
}

.information {
    -fx-padding: 8px;
    -fx-background-color: #AAAAAA20;
    -fx-border-width: 1;
    -fx-border-color: #AAAAAA60;
}

.title {
    -fx-font-size: 16;
    -fx-font-weight: 600;
    -fx-text-alignment: center;
}

.titleBar {
    -fx-background-color: #AAAAAA20;
}

.console {
    -fx-padding: 8px;
}

.textual {
    -fx-background-color: #AAAAAA20;
}

.consoleBox > .viewport {
    -fx-background-color: transparent;
}

.consoleBox {
    -fx-background-color: transparent;
}

.toursBox {
    -fx-padding: 8px;
    -fx-max-height: 1000;
}

.leftPane {
    -fx-background-color: #AAAAAA20;
}

.selected {
    -fx-text-fill: purple;
    -fx-font-weight: 700;
    -fx-border-color: purple;
    -fx-border-width: 1px;
}

.selectable {
    -fx-cursor: hand;
}