.menu {
    -fx-background-color: #AAAAAA20;
}

.menuButton {
    -fx-max-width: 1000px;
}

.information {
    -fx-padding: 8px;
    -fx-background-color: #AAAAAA20;
}

.title {
    -fx-font-size: 16;
    -fx-font-weight: 600;
    -fx-text-alignment: center;
}

.titleBar {
    -fx-background-color: #AAAAAA20;
}

.console {
    -fx-padding: 8px;
}

.consoleBox > .viewport {
    -fx-background-color: transparent;
}

.consoleBox {
    -fx-background-color: #AAAAAA20;
}